.nodered/.flows_LAPTOP-MTG3CF0I.json.backup
[{"id":"4ac75a69.1f9464","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"a8678817.da38b8","type":"mqtt-broker","z":"","name":"本機MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"699566ee.639e58","type":"websocket-listener","z":"","path":"/test","wholemsg":"false"},{"id":"20705209.7578ae","type":"mqtt in","z":"4ac75a69.1f9464","name":"YESIO/DL/CONTROLL","topic":"YESIO/DL/CONTROLL","qos":"2","datatype":"auto","broker":"a8678817.da38b8","x":140,"y":220,"wires":[["bcf81793.945128"]]},{"id":"151e23dc.35d67c","type":"mqtt out","z":"4ac75a69.1f9464","name":"YESIO/DL/CONTROLL","topic":"YESIO/DL/CONTROLL","qos":"","retain":"","broker":"a8678817.da38b8","x":430,"y":160,"wires":[]},{"id":"d10ab941.5670e8","type":"websocket in","z":"4ac75a69.1f9464","name":"","server":"699566ee.639e58","client":"","x":100,"y":80,"wires":[["9b8464fa.b06d88"]]},{"id":"53daf1a5.39bfa","type":"websocket out","z":"4ac75a69.1f9464","name":"","server":"699566ee.639e58","client":"","x":300,"y":440,"wires":[]},{"id":"bcf81793.945128","type":"debug","z":"4ac75a69.1f9464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"41ef57ec.7b1a68","type":"function","z":"4ac75a69.1f9464","name":"","func":"let obj = msg.payload\nlet mac = obj.id\nlet cmd = obj.v.cmd\n//node.error(cmd)\nif(context.global.mac === undefined)\n    context.global.mac = []\nif(cmd === 'connection'){\n    //context.global.mac.push(mac)\n    node.error(\"Node-red websocket connection\")\n    return\n} else if(cmd === 'open')\n    msg.payload =  {\"macAddr\": mac, \"data\": \"open\"}\nelse if(cmd === 'close') \n    msg.payload =  {\"macAddr\": mac, \"data\": \"close\"}\nreturn msg","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["151e23dc.35d67c","6b46fbef.581a54"]]},{"id":"9b8464fa.b06d88","type":"json","z":"4ac75a69.1f9464","name":"","property":"payload","action":"","pretty":false,"x":110,"y":160,"wires":[["41ef57ec.7b1a68"]]},{"id":"e809dee3.79cdd","type":"mqtt in","z":"4ac75a69.1f9464","name":"YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"2","datatype":"auto","broker":"a8678817.da38b8","x":130,"y":380,"wires":[["c3323096.80352"]]},{"id":"6a80298.07dc8d8","type":"mqtt out","z":"4ac75a69.1f9464","name":":YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"","retain":"","broker":"a8678817.da38b8","x":360,"y":320,"wires":[]},{"id":"6e6c0a51.fec264","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"{\"macAddr\":\"0123456789\",\"data\":{\"temperature\":20,\"humidity\":35},\"frameCnt\":\"2\",\"fport\":\"1\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["6a80298.07dc8d8"]]},{"id":"b8f6b808.d697b8","type":"function","z":"4ac75a69.1f9464","name":"","func":"let obj = msg.payload\nlet mac = obj.macAddr\nlet data = obj.data\nmsg.payload = {\"id\": mac, \"v\": {\"data\":data}}\nreturn msg;","outputs":1,"noerr":0,"x":111,"y":440,"wires":[["53daf1a5.39bfa","65db552e.961b4c"]]},{"id":"c3323096.80352","type":"json","z":"4ac75a69.1f9464","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[["b8f6b808.d697b8"]]},{"id":"65db552e.961b4c","type":"debug","z":"4ac75a69.1f9464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":500,"wires":[]},{"id":"6b46fbef.581a54","type":"debug","z":"4ac75a69.1f9464","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":100,"wires":[]}]