.nodered/.flows_LAPTOP-MTG3CF0I.json.backup
[{"id":"4ac75a69.1f9464","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"af70c682.72dd58","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a8678817.da38b8","type":"mqtt-broker","z":"","name":"本機MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"888f7ba5.56aaa8","type":"mqtt-broker","z":"","name":"","broker":"ioflex.yesio.net","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b345757.58efe8","type":"mqtt out","z":"af70c682.72dd58","name":":YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"","retain":"","broker":"a8678817.da38b8","x":620,"y":80,"wires":[]},{"id":"a9aa891c.326b08","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536490\",\"data\":{\"key1\":1},\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["d9370c4b.c5389"]]},{"id":"5552ccf0.42b4b4","type":"function","z":"af70c682.72dd58","name":"","func":"let obj = msg.payload;\n//node.error(obj);\nlet arr = [];\narr.splice(0, 0, 'fcf5c4536480');\narr.splice(1, 0, 'fcf5c4536481'); \narr.splice(2, 0, 'fcf5c4536482'); \narr.splice(3, 0, 'fcf5c4536483'); \narr.splice(4, 0, 'fcf5c4536484'); \narr.splice(5, 0, 'fcf5c4536485'); \narr.splice(6, 0, 'fcf5c4536486'); \narr.splice(7, 0, 'fcf5c4536487'); \narr.splice(8, 0, 'fcf5c4536488'); \n//node.log(arr);\n\nif(context.global.count === undefined){\n    context.global.count = 0;\n}\nif(context.global.status === undefined){\n    context.global.status = 0;\n}\n\n\nlet count = context.global.count;\nlet status = context.global.status;\nstatus = status+1;\n\n\nif((count+1)%3 === 0 && status == 2){\n    //node.log('********************* ');\n    status = 3;\n}\n\n/*if(count === 9 && status == 2){\n    status = 3;\n}*/\n\n//node.log(' index:'+count + ' status :'+ status);\nobj.macAddr = arr[count];\nobj.data.key1 = status;\n\n\n\nif(status == 2 || status == 3) {\n    if(count < 8)\n        count++;\n    else\n        count = 0;\n        \n    status = 0;\n}\n\ncontext.global.status = status;\ncontext.global.count = count;\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["1187b1b.fae2f4e","8b345757.58efe8"]]},{"id":"d9370c4b.c5389","type":"json","z":"af70c682.72dd58","name":"","property":"payload","action":"","pretty":false,"x":260,"y":160,"wires":[["5552ccf0.42b4b4","29628fe3.71c6b"]]},{"id":"1187b1b.fae2f4e","type":"debug","z":"af70c682.72dd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":140,"wires":[]},{"id":"29628fe3.71c6b","type":"debug","z":"af70c682.72dd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":80,"wires":[]},{"id":"d7d6abff.80bfb8","type":"inject","z":"af70c682.72dd58","name":"reset default","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["712b4d1f.cd0184"]]},{"id":"712b4d1f.cd0184","type":"function","z":"af70c682.72dd58","name":"","func":"context.global.status = 0;\ncontext.global.count = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[[]]},{"id":"463aa1c2.47ede","type":"mqtt in","z":"af70c682.72dd58","name":"","topic":"YESIO/UL/+","qos":"2","datatype":"auto","broker":"a8678817.da38b8","x":70,"y":300,"wires":[["4f355260.7a874c","2f8ba382.66658c"]]},{"id":"e10bf980.ca64a8","type":"mqtt in","z":"af70c682.72dd58","name":"YESIO/DL/+","topic":"YESIO/DL/+","qos":"2","datatype":"auto","broker":"a8678817.da38b8","x":130,"y":400,"wires":[["d027c8b4.3d9f18","9e59eccc.d2368"]]},{"id":"25688146.ea2e4e","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536488\",\"data\": \"fb010694021a060110032a7b250000\",\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":80,"wires":[["8b345757.58efe8"]]},{"id":"fe02c674.c5b648","type":"http request","z":"af70c682.72dd58","name":"escape/action","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/action?user_id=7&room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":580,"wires":[["5a1e4d5b.86f104"]]},{"id":"1abe0b84.8d8464","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":620,"wires":[["fe02c674.c5b648","a09ee888.a40f58","f32528f0.9908d8","e53ce5cd.b5ece8","282cfff1.2bf03","29dc9ca2.90f954"]]},{"id":"a09ee888.a40f58","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":800,"wires":[["c0ee529e.1be9e"]]},{"id":"57f059dc.49df78","type":"http request","z":"af70c682.72dd58","name":"PASS","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/pass?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":1360,"wires":[["5a1e4d5b.86f104"]]},{"id":"5a1e4d5b.86f104","type":"debug","z":"af70c682.72dd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":580,"wires":[]},{"id":"d03f23bb.d2249","type":"function","z":"af70c682.72dd58","name":"Return ack","func":"let obj = msg.payload;\n//node.warn(obj.macAddr);\n//if(obj.macAddr===\"fcf5c455d604\" ||obj.macAddr===\"fcf5c454d9ec\" ||obj.macAddr===\"fcf5c454cadc\")\n    //return null;\n\nobj.fport = 99;\nif(obj.pass) {\n    delete obj.pass\n    obj.data = {\"key1\":5};\n} else {\n    if(obj.data.key1 >= 11) {\n        obj.data.key2 = obj.data.key1\n    }\n\n    \n    /*if(obj.data.key1 === 21)\n      obj.data.key1 =11;\n    else if(obj.data.key1 === 20)\n      obj.data.key1 =10;\n    else */\n       obj.data.key1 =5;\n}\n\n\n\nmsg.payload = JSON.stringify(obj);\n    \nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["bf940d7f.5a388","9b4bf9ea.54cba8"]]},{"id":"d027c8b4.3d9f18","type":"json","z":"af70c682.72dd58","name":"","property":"payload","action":"","pretty":false,"x":290,"y":420,"wires":[["d03f23bb.d2249"]]},{"id":"bf940d7f.5a388","type":"debug","z":"af70c682.72dd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":420,"wires":[]},{"id":"9b4bf9ea.54cba8","type":"mqtt out","z":"af70c682.72dd58","name":"YESIO/UL/ESCAPESCAPE","topic":"YESIO/UL/ESCAPESCAPE","qos":"","retain":"","broker":"a8678817.da38b8","x":620,"y":500,"wires":[]},{"id":"4f355260.7a874c","type":"json","z":"af70c682.72dd58","name":"","property":"payload","action":"","pretty":false,"x":270,"y":340,"wires":[["3774aaa3.615076"]]},{"id":"3774aaa3.615076","type":"function","z":"af70c682.72dd58","name":"","func":"msg.payload= JSON.stringify(msg.payload);\n//node.warn(obj.macAddr);\n//if(obj.macAddr===\"fcf5c455d604\" ||obj.macAddr===\"fcf5c454d9ec\" ||obj.macAddr===\"fcf5c454cadc\")\n    //return null;\n    \n\n    \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["50e0a566.7d6eac"]]},{"id":"50e0a566.7d6eac","type":"debug","z":"af70c682.72dd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":320,"wires":[]},{"id":"b48436b5.027828","type":"http request","z":"af70c682.72dd58","name":"escape/data","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/data?user_id=7&room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":720,"wires":[["5a1e4d5b.86f104"]]},{"id":"481cb6d1.210b38","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["b48436b5.027828"]]},{"id":"4705753a.ba4e0c","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1360,"wires":[["57f059dc.49df78"]]},{"id":"d6054a0e.e7d068","type":"http request","z":"af70c682.72dd58","name":"start->2","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/start?room_id=1&sequence=2","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":960,"wires":[["5a1e4d5b.86f104"]]},{"id":"82a56e89.1d35a","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":960,"wires":[["d6054a0e.e7d068"]]},{"id":"1cdb996e.a63ea7","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1140,"wires":[["9b412b9a.ff2038"]]},{"id":"a01273ea.00136","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1240,"wires":[["d946366d.d5a838"]]},{"id":"4a79fc30.a0de64","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":540,"wires":[["fe02c674.c5b648"]]},{"id":"9e59eccc.d2368","type":"debug","z":"af70c682.72dd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]},{"id":"d66a877f.c4c7a8","type":"inject","z":"4ac75a69.1f9464","name":"關門","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["6240f6be.fdb638"]]},{"id":"6240f6be.fdb638","type":"function","z":"4ac75a69.1f9464","name":"關門通知","func":"let obj = {\"macAddr\":'10521c68f614',\"data\":{\"key1\":10},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["b9c75341.9147c"]]},{"id":"b7043640.421118","type":"http request","z":"4ac75a69.1f9464","name":"開門命令","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/command?room_id=1&macAddr=default&command=21&user_id=1","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":160,"wires":[["77684979.a2e658"]]},{"id":"fb31ba4f.cc63c8","type":"inject","z":"4ac75a69.1f9464","name":"開門","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["b7043640.421118"]]},{"id":"77684979.a2e658","type":"debug","z":"4ac75a69.1f9464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":160,"wires":[]},{"id":"da2b1c3b.bfee7","type":"inject","z":"4ac75a69.1f9464","name":"大門任務","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["20dba231.9762be"]]},{"id":"20dba231.9762be","type":"http request","z":"4ac75a69.1f9464","name":"/escape/default?room_id=1","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/default?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":80,"wires":[["77684979.a2e658"]]},{"id":"b9c75341.9147c","type":"mqtt out","z":"4ac75a69.1f9464","name":"","topic":"","qos":"","retain":"","broker":"a8678817.da38b8","x":1310,"y":460,"wires":[]},{"id":"f32528f0.9908d8","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":920,"wires":[["d6054a0e.e7d068"]]},{"id":"e53ce5cd.b5ece8","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1080,"wires":[["9b412b9a.ff2038"]]},{"id":"aaf115e0.85a8c8","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1480,"wires":[["7135fe7c.74bcd"]]},{"id":"7135fe7c.74bcd","type":"http request","z":"af70c682.72dd58","name":"status","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/status?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1480,"wires":[["7fbe84d7.d8bbbc"]]},{"id":"7fbe84d7.d8bbbc","type":"debug","z":"af70c682.72dd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1480,"wires":[]},{"id":"8ba0ec3f.3e5c6","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1280,"wires":[[]]},{"id":"975240f8.7b326","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1580,"wires":[["1c34cae.a1c8435"]]},{"id":"1c34cae.a1c8435","type":"http request","z":"af70c682.72dd58","name":"error","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/error?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1580,"wires":[["7fbe84d7.d8bbbc"]]},{"id":"52930b42.62b144","type":"function","z":"4ac75a69.1f9464","name":"emergency stop","func":"let obj = {\"macAddr\":'10521c68f614',\"data\":{\"key1\":6},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["b9c75341.9147c"]]},{"id":"1d51d692.d70de9","type":"inject","z":"4ac75a69.1f9464","name":"緊急按鈕","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["52930b42.62b144"]]},{"id":"eb970643.e09558","type":"inject","z":"4ac75a69.1f9464","name":"目前狀態","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["513fe08a.bde85"]]},{"id":"513fe08a.bde85","type":"http request","z":"4ac75a69.1f9464","name":"status","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/status?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":740,"wires":[["585a27c6.8cde68"]]},{"id":"585a27c6.8cde68","type":"debug","z":"4ac75a69.1f9464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1500,"wires":[]},{"id":"c5a758c2.9a7e48","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1500,"wires":[["3870a94e.c06716"]]},{"id":"3870a94e.c06716","type":"http request","z":"4ac75a69.1f9464","name":"prompt=1&time=10","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/reduce?room_id=1&prompt=1&time=10","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1500,"wires":[["585a27c6.8cde68"]]},{"id":"775e7a34.2d6164","type":"http request","z":"4ac75a69.1f9464","name":"mode:30  (game)","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/setmode/30?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":1680,"wires":[["585a27c6.8cde68"]]},{"id":"2f8ba382.66658c","type":"debug","z":"af70c682.72dd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":260,"wires":[]},{"id":"23601a24.ac1586","type":"http request","z":"4ac75a69.1f9464","name":"mode:31 (demo)","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/setmode/31?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":1720,"wires":[["585a27c6.8cde68"]]},{"id":"c63b2f60.44d4a","type":"http request","z":"4ac75a69.1f9464","name":"mode:32 (security)","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/setmode/32?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1760,"wires":[["585a27c6.8cde68"]]},{"id":"3c06471f.299378","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1680,"wires":[["775e7a34.2d6164"]]},{"id":"1a2d0170.41bf3f","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1720,"wires":[["23601a24.ac1586"]]},{"id":"95d9945a.f16318","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1760,"wires":[["c63b2f60.44d4a"]]},{"id":"8a6c7e9d.e900e","type":"function","z":"4ac75a69.1f9464","name":"mission_end_command : 24","func":"let mac = msg.payload\nlet obj = {\"macAddr\":mac,\"data\":{\"key1\":2},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":460,"wires":[["b9c75341.9147c"]]},{"id":"b5f9d01b.fd54b","type":"inject","z":"4ac75a69.1f9464","name":"end 1","topic":"","payload":"fcf5c454d9ec","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["f10a06a4.601fe8"]]},{"id":"a55e8515.3cf7b8","type":"inject","z":"4ac75a69.1f9464","name":"end 2","topic":"","payload":"fcf5c455d604","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["ada9006b.416d1"]]},{"id":"6dca09d1.906e18","type":"inject","z":"4ac75a69.1f9464","name":"end 3","topic":"","payload":"fcf5c454cadc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["6f7e1906.b6a248"]]},{"id":"29dc9ca2.90f954","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1200,"wires":[[]]},{"id":"beb2f184.7e8f6","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1040,"wires":[["e68e64fa.ae7738"]]},{"id":"282cfff1.2bf03","type":"delay","z":"af70c682.72dd58","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1000,"wires":[["e68e64fa.ae7738"]]},{"id":"39f8bb76.06dee4","type":"inject","z":"af70c682.72dd58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[["c0ee529e.1be9e"]]},{"id":"c0ee529e.1be9e","type":"function","z":"af70c682.72dd58","name":"fcf5c454d9ec : 24  end 1","func":"let mac = 'fcf5c454d9ec'\nlet obj = {\"macAddr\":mac,\"data\":{\"key1\":2},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":840,"wires":[["2b189c73.59b414"]]},{"id":"e68e64fa.ae7738","type":"function","z":"af70c682.72dd58","name":"fcf5c455d604: 24  end 2","func":"let mac = 'fcf5c455d604'\nlet obj = {\"macAddr\":mac,\"data\":{\"key1\":2},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1040,"wires":[["2b189c73.59b414"]]},{"id":"9b412b9a.ff2038","type":"http request","z":"af70c682.72dd58","name":"start->3","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/start?room_id=1&sequence=3","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1140,"wires":[["5a1e4d5b.86f104"]]},{"id":"d946366d.d5a838","type":"function","z":"af70c682.72dd58","name":"fcf5c454cadc: 24  end 2","func":"let mac = 'fcf5c454cadc'\nlet obj = {\"macAddr\":mac,\"data\":{\"key1\":2},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1240,"wires":[["2b189c73.59b414"]]},{"id":"2b189c73.59b414","type":"mqtt out","z":"af70c682.72dd58","name":"","topic":"","qos":"","retain":"","broker":"a8678817.da38b8","x":810,"y":1040,"wires":[]},{"id":"7b026e06.790f","type":"inject","z":"4ac75a69.1f9464","name":"ACtion","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["ec1fdfdb.1be8"]]},{"id":"ec1fdfdb.1be8","type":"http request","z":"4ac75a69.1f9464","name":"escape/action","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/action?user_id=1&room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":300,"wires":[["77684979.a2e658"]]},{"id":"b02028dd.8a8cd8","type":"http request","z":"4ac75a69.1f9464","name":"start->2","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/start?room_id=1&sequence=2","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":400,"wires":[["77684979.a2e658"]]},{"id":"6d6190fa.3ab","type":"inject","z":"4ac75a69.1f9464","name":"start 2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["b02028dd.8a8cd8"]]},{"id":"c1778e90.aa446","type":"inject","z":"4ac75a69.1f9464","name":"start 3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":540,"wires":[["41d38d99.1f4924"]]},{"id":"41d38d99.1f4924","type":"http request","z":"4ac75a69.1f9464","name":"start->3","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/start?room_id=1&sequence=3","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":540,"wires":[["77684979.a2e658"]]},{"id":"557576ea.69bbc8","type":"inject","z":"4ac75a69.1f9464","name":"自動測試","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":20,"wires":[["ae182ff9.d1b31","6240f6be.fdb638","60464484.3d825c","a0b8f07e.8944b","b10ce6ef.be2108","1c2c6268.efeb4e","ec090328.cd6c5","dd86bbc3.9467f8","16a0fe1e.74fb42","5b17f6dc.208808"]]},{"id":"ae182ff9.d1b31","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":40,"wires":[["20dba231.9762be"]]},{"id":"60464484.3d825c","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":120,"wires":[["b7043640.421118"]]},{"id":"a0b8f07e.8944b","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":200,"wires":[["6240f6be.fdb638"]]},{"id":"b10ce6ef.be2108","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":260,"wires":[["ec1fdfdb.1be8"]]},{"id":"1c2c6268.efeb4e","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":320,"wires":[["f10a06a4.601fe8"]]},{"id":"f10a06a4.601fe8","type":"function","z":"4ac75a69.1f9464","name":"fcf5c454d9ec","func":"\nmsg.payload ='fcf5c454d9ec';\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["8a6c7e9d.e900e"]]},{"id":"ec090328.cd6c5","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":380,"wires":[["b02028dd.8a8cd8"]]},{"id":"ada9006b.416d1","type":"function","z":"4ac75a69.1f9464","name":"fcf5c455d604","func":"\nmsg.payload ='fcf5c455d604';\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["8a6c7e9d.e900e"]]},{"id":"dd86bbc3.9467f8","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"17","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["ada9006b.416d1"]]},{"id":"16a0fe1e.74fb42","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"19","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":500,"wires":[["41d38d99.1f4924"]]},{"id":"5b17f6dc.208808","type":"delay","z":"4ac75a69.1f9464","name":"","pauseType":"delay","timeout":"22","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":560,"wires":[["64304cec.639884"]]},{"id":"6f7e1906.b6a248","type":"function","z":"4ac75a69.1f9464","name":"10521c68f8fc","func":"\nmsg.payload ='10521c68f8fc';\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["8a6c7e9d.e900e"]]},{"id":"64304cec.639884","type":"http request","z":"4ac75a69.1f9464","name":"Fail","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/pass?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":640,"wires":[["585a27c6.8cde68"]]},{"id":"99783f88.7b7e4","type":"inject","z":"4ac75a69.1f9464","name":"Fail","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["64304cec.639884"]]},{"id":"1f37105f.db5c8","type":"inject","z":"4ac75a69.1f9464","name":"保全觸發 - 10521c6804d4","topic":"","payload":"10521c6804d4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1820,"wires":[["fa680fd7.e28b6"]]},{"id":"fa680fd7.e28b6","type":"function","z":"4ac75a69.1f9464","name":"","func":"let mac = msg.payload\nlet obj = {\"macAddr\":mac,\"data\":{\"key1\":7},\"fport\":99};\nmsg.payload = obj;\nmsg.topic = 'YESIO/UL/'+obj.macAddr;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1820,"wires":[["a4c4dcd.ca2fd2"]]},{"id":"a4c4dcd.ca2fd2","type":"mqtt out","z":"4ac75a69.1f9464","name":"","topic":"","qos":"","retain":"","broker":"a8678817.da38b8","x":510,"y":1820,"wires":[]},{"id":"f7080451.19fa88","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1560,"wires":[["9572843a.6b6808"]]},{"id":"9572843a.6b6808","type":"http request","z":"4ac75a69.1f9464","name":"prompt=2&time=20","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/reduce?room_id=1&prompt=2&time=20","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1560,"wires":[["585a27c6.8cde68"]]},{"id":"a6d84289.02c16","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1620,"wires":[["ecbe5cc9.f8bc4"]]},{"id":"ecbe5cc9.f8bc4","type":"http request","z":"4ac75a69.1f9464","name":"prompt=3&time=30","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/reduce?room_id=1&prompt=3&time=30","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1620,"wires":[["585a27c6.8cde68"]]},{"id":"59046384.04aefc","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":860,"wires":[[]]},{"id":"3a22c945.a57106","type":"function","z":"4ac75a69.1f9464","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":860,"wires":[[]]},{"id":"31f603a0.2ebedc","type":"http request","z":"4ac75a69.1f9464","name":"重置狀態","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/resetStatus?room_id=1","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":960,"wires":[["77684979.a2e658"]]},{"id":"483876dc.b06678","type":"inject","z":"4ac75a69.1f9464","name":"重置狀態","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":960,"wires":[["31f603a0.2ebedc"]]},{"id":"3fd6f8fd.7846d8","type":"inject","z":"4ac75a69.1f9464","name":"遊戲測試","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1040,"wires":[["4de3edf7.c504b4"]]},{"id":"4de3edf7.c504b4","type":"http request","z":"4ac75a69.1f9464","name":"遊戲測試","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:8080/escape/gameTest?room_id=1&sequence=1","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":1040,"wires":[["585a27c6.8cde68"]]}]