.nodered/.flows_LAPTOP-MTG3CF0I.json.backup
[{"id":"4ac75a69.1f9464","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"87305b0f.1e6f08","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a8678817.da38b8","type":"mqtt-broker","z":"","name":"本機MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"699566ee.639e58","type":"websocket-listener","z":"","path":"/test","wholemsg":"false"},{"id":"39987c42.9fdcc4","type":"mqtt-broker","z":"","name":"花蓮poc","broker":"161.202.32.59","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25d652f1.32594e","type":"mqtt-broker","z":"","name":"YESIO_BROKER","broker":"45.80.153.45","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73f5c5f8.36e95c","type":"mqtt in","z":"4ac75a69.1f9464","name":"YESIO/DL/CONTROLL","topic":"YESIO/DL/CONTROLL","qos":"2","datatype":"auto","broker":"39987c42.9fdcc4","x":200,"y":200,"wires":[["87ca0ced.8bb4c"]]},{"id":"b0bdde45.5448c","type":"mqtt out","z":"4ac75a69.1f9464","name":"YESIO/DL/CONTROLL","topic":"YESIO/DL/CONTROLL","qos":"","retain":"","broker":"25d652f1.32594e","x":490,"y":120,"wires":[]},{"id":"e21a39b.c5919c8","type":"websocket in","z":"4ac75a69.1f9464","name":"","server":"699566ee.639e58","client":"","x":160,"y":40,"wires":[["fd3d9c35.fdd48"]]},{"id":"ff626883.fd31b8","type":"websocket out","z":"4ac75a69.1f9464","name":"","server":"699566ee.639e58","client":"","x":360,"y":400,"wires":[]},{"id":"87ca0ced.8bb4c","type":"debug","z":"4ac75a69.1f9464","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]},{"id":"600a6a31.e459e4","type":"function","z":"4ac75a69.1f9464","name":"","func":"let obj = msg.payload\nlet mac = obj.id\nlet cmd = obj.v.cmd\n//node.error(cmd)\nif(context.global.mac === undefined)\n    context.global.mac = []\nif(cmd === 'connection'){\n    //context.global.mac.push(mac)\n    node.error(\"Node-red websocket connection\")\n    return\n} else if(cmd === 'open')\n    msg.payload =  {\"macAddr\": mac, \"data\": \"open\"}\nelse if(cmd === 'close') \n    msg.payload =  {\"macAddr\": mac, \"data\": \"close\"}\nreturn msg","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["b0bdde45.5448c","360fabbc.7440b4"]]},{"id":"fd3d9c35.fdd48","type":"json","z":"4ac75a69.1f9464","name":"","property":"payload","action":"","pretty":false,"x":170,"y":120,"wires":[["600a6a31.e459e4"]]},{"id":"961e9816.bc22c8","type":"mqtt in","z":"4ac75a69.1f9464","name":"YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"2","datatype":"auto","broker":"39987c42.9fdcc4","x":190,"y":340,"wires":[["102faedf.fb7f01"]]},{"id":"4b7eee0.2506a14","type":"mqtt out","z":"4ac75a69.1f9464","name":":YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"","retain":"","broker":"39987c42.9fdcc4","x":440,"y":280,"wires":[]},{"id":"d776da8b.e85348","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536490\",\"data\": \"fb010694021a060110032a7b250000\",\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":260,"wires":[["cbff5fad.eaf0e"]]},{"id":"a8dc9cf6.92a64","type":"function","z":"4ac75a69.1f9464","name":"","func":"let obj = msg.payload\nlet mac = obj.macAddr\nlet data = obj.data\nmsg.payload = {\"id\": mac, \"v\": {\"data\":data}}\nreturn msg;","outputs":1,"noerr":0,"x":171,"y":400,"wires":[["ff626883.fd31b8","fbf55886.107848"]]},{"id":"102faedf.fb7f01","type":"json","z":"4ac75a69.1f9464","name":"","property":"payload","action":"","pretty":false,"x":370,"y":340,"wires":[["a8dc9cf6.92a64"]]},{"id":"fbf55886.107848","type":"debug","z":"4ac75a69.1f9464","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":460,"wires":[]},{"id":"360fabbc.7440b4","type":"debug","z":"4ac75a69.1f9464","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":60,"wires":[]},{"id":"cbff5fad.eaf0e","type":"mqtt out","z":"4ac75a69.1f9464","name":"GIOT-GW/UL/REPORT","topic":"GIOT-GW/UL/REPORT","qos":"","retain":"","broker":"39987c42.9fdcc4","x":450,"y":240,"wires":[]},{"id":"72190c27.f7e464","type":"mqtt in","z":"4ac75a69.1f9464","name":"GIOT-GW/UL/+","topic":"GIOT-GW/UL/+","qos":"2","datatype":"auto","broker":"39987c42.9fdcc4","x":180,"y":160,"wires":[["87ca0ced.8bb4c"]]},{"id":"eb1f5749.52f258","type":"inject","z":"4ac75a69.1f9464","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536490\",\"data\":{\"temperature\":20,\"humidity\":35},\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["4b7eee0.2506a14"]]},{"id":"dd3aca5b.1dec58","type":"mqtt out","z":"87305b0f.1e6f08","name":":YESIO/UL/REPORT","topic":"YESIO/UL/REPORT","qos":"","retain":"","broker":"25d652f1.32594e","x":600,"y":180,"wires":[]},{"id":"97b2bac8.b13eb8","type":"inject","z":"87305b0f.1e6f08","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536490\",\"data\":{\"status\":1},\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["4e9846af.96db18"]]},{"id":"a7f251e8.534a3","type":"function","z":"87305b0f.1e6f08","name":"","func":"let obj = msg.payload;\n//node.error(obj);\nlet arr = [];\narr.splice(0, 0, 'fcf5c4536480');\narr.splice(1, 0, 'fcf5c4536481'); \narr.splice(2, 0, 'fcf5c4536482'); \narr.splice(3, 0, 'fcf5c4536483'); \narr.splice(4, 0, 'fcf5c4536484'); \narr.splice(5, 0, 'fcf5c4536485'); \narr.splice(6, 0, 'fcf5c4536486'); \narr.splice(7, 0, 'fcf5c4536487'); \narr.splice(8, 0, 'fcf5c4536488'); \n//node.log(arr);\n\nif(context.global.count === undefined){\n    context.global.count = 0;\n}\nif(context.global.status === undefined){\n    context.global.status = 0;\n}\n\n\nlet count = context.global.count;\nlet status = context.global.status;\nstatus = status+1;\n\n\nif((count+1)%3 === 0 && status == 2){\n    //node.log('********************* ');\n    status = 3;\n}\n\n/*if(count === 9 && status == 2){\n    status = 3;\n}*/\n\n//node.log(' index:'+count + ' status :'+ status);\nobj.macAddr = arr[count];\nobj.data.status = status;\n\n\n\nif(status == 2 || status == 3) {\n    if(count < 8)\n        count++;\n    else\n        count = 0;\n        \n    status = 0;\n}\n\ncontext.global.status = status;\ncontext.global.count = count;\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["493dddab.9341e4","dd3aca5b.1dec58"]]},{"id":"4e9846af.96db18","type":"json","z":"87305b0f.1e6f08","name":"","property":"payload","action":"","pretty":false,"x":260,"y":160,"wires":[["a7f251e8.534a3","4ee15973.2eccd8"]]},{"id":"493dddab.9341e4","type":"debug","z":"87305b0f.1e6f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":260,"wires":[]},{"id":"4ee15973.2eccd8","type":"debug","z":"87305b0f.1e6f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":80,"wires":[]},{"id":"b858c1d9.32a61","type":"inject","z":"87305b0f.1e6f08","name":"reset default","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["f7516875.213f68"]]},{"id":"f7516875.213f68","type":"function","z":"87305b0f.1e6f08","name":"","func":"context.global.status = 0;\ncontext.global.count = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[[]]},{"id":"443733ec.f9889c","type":"mqtt in","z":"87305b0f.1e6f08","name":"","topic":"YESIO/UL/REPORT","qos":"2","datatype":"auto","broker":"25d652f1.32594e","x":150,"y":340,"wires":[["18f5dc28.474294"]]},{"id":"18f5dc28.474294","type":"debug","z":"87305b0f.1e6f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":340,"wires":[]},{"id":"71b205ed.e32fec","type":"mqtt in","z":"87305b0f.1e6f08","name":"YESIO/DL/CONTROLL","topic":"YESIO/DL/CONTROLL","qos":"2","datatype":"auto","broker":"25d652f1.32594e","x":160,"y":420,"wires":[["18f5dc28.474294"]]},{"id":"6cdd518e.2e35","type":"inject","z":"87305b0f.1e6f08","name":"","topic":"","payload":"{\"macAddr\":\"fcf5c4536488\",\"data\": \"fb010694021a060110032a7b250000\",\"frameCnt\":\"2\",\"fport\":\"99\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":80,"wires":[["dd3aca5b.1dec58"]]}]